    #wrapper {
      padding-left: 300px;
      transition: all 0.4s ease 0s;
    }

    #sidebar-wrapper {
      margin-left: -300px;
      left: 300px;
      width: 300px;
      background: #000;
      position: fixed;
      height: 100%;
      z-index: 1000;
      transition: all 0.4s ease 0s;

      min-height: 100%;
      height: auto;
      /* Negative indent footer by its height */
      margin-bottom: -60px;
      /* Pad bottom by footer height */
      padding-bottom: 60px;
    }

    #page-content-wrapper {
      width: 100%;
    }

    .sidebar-nav {
      position: absolute;
      top: 0;
      width: 300px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .content-header {
    }

    .content-header h1 {
      margin: 0;
      margin-left: 20px;
      line-height: 65px;
      display: inline-block;
    }

    #menu-toggle {
      display: none;
    }

    .inset {
      padding: 20px;
    }

    .navbar-brand {
      height: 135px;
    }

    .sidebar-nav p {
      padding: 5px;
       height: 60px;
    }
    .well {
      background: none;
      border: none;
    }

    .nav-pills>li+li {
      margin-left: 10px;
    }
    .nav-pills > li > a {
      color: #CCC;
      background: none;
      border-bottom: 2px solid #CCC;
      font-size: 16px;
      border-radius: 0px;
      padding: 5px;

    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: #ffffff;
      background: none;
      border-bottom: 2px solid #fff;
      font-size: 16px;
      border-radius: 0px;
      padding: 5px;
    }
      .nav-pills > li > a:hover, .nav-pills > li > a:focus {
      color: #Ff0000;
      background: none;
      border-bottom: 2px solid #Ff0000;
      font-size: 16px;
      border-radius: 0px;
      padding: 5px;
    }

    .list-group-item {
        background: none;
        border: none;
        text-transform: uppercase;
        font-size: 18px;
      }
      .list-group-item a {
        color: #FFF;
      }
      .list-group-item a:hover {
        text-decoration: none;
      }
      .list-group-item .badge {
        margin-left: 5px;
        background: none;
        font-size: 18px;
        color: #Ff0000;
      }

      .exp-sup {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #000;
      }

      .exp-sup > div {
        margin: 5px 0;
        border-left: 1px solid #000;
        height: 125px;
        padding-left: 5px;
        padding-right: 5px;

      }

      .exp-sup > div:first-child {
        border-left: none;
      }

      .exp-sup > div p.desc {
        padding: 2px 15px;
        color: #000;
        font-size: 1em;
        font-weight: bold;
      }

      .exp-sup > div p {
        padding: 2px 5px 0 85px;
        font-size: 12px;
        font-weight: bold;
        color: #666;
      }

      .nav-sup {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px dashed #000;
      }

      .search input {
        border-radius: 0;   
      }
      .search .btn-lg {
        height: 51px;
      }
      .search .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        background: #fff;
      }
      .search button {
        border-radius: 0;
      }
      .search .input-lg {
        height: 51px;
      }

      .author {
      height: 60px;
    }
    .author-count {
      background: #B8B8B8;
      width: 60px;
      text-align: center;
      float: left;
      margin-bottom: 0;
      padding: 5px;
      height: 60px;
      margin-top: 0;
      color: #FFFFFF;
      font-weight: bold;
    }
    .author-count small {
      color: #FFFFFF;
    }
    .author-nick {
      color: #666666;
    }
    .list-tags a {      
      color: #B8B8B8;
      font-weight: bold;
      text-decoration: none;
    }
    hr {
      border-style:dashed;
    }
    .content-chk {
      color: #B8B8B8;
    }

    
    .page-header {
      margin-top: 0;
    }

      .bred h2, .bblack h2, .bgray h2 {
        font-weight: bold;        
        font-size: 4.1em;
        line-height: 1.12em;
      }
      .bred { background-color: #FF0000; color: #000; min-height: 5em; min-width: 100%;  margin-left: 0;}
      .bblack {background-color: #000; color: #CCC; min-height: 5em;  margin-left: 0;}
      .bgray {background-color: #CCC; color: #F0F0F0; min-height: 5em;  margin-left: 0;}

      @media (max-width:767px) {

      #wrapper {
        padding-left: 0;
      }

      #sidebar-wrapper {
        left: 0;
      }

      #wrapper.active {
        position: relative;
        left: 300px;
      }

      #wrapper.active #sidebar-wrapper {
        left: 300px;
        width: 300px;
        transition: all 0.4s ease 0s;
      }

      #menu-toggle {
        display: inline-block;
      }

      .inset {
        padding: 15px;
      }

      .exp-sup {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #000;
      }

      .exp-sup > div {
        margin: 5px 0;
        border-left: 1px solid #000;
        height: 125px;
        padding-left: 5px;
        padding-right: 5px;

      }

      .exp-sup .img-exp-sup {
        width: 50px;
      }

      .exp-sup > div:first-child {
        border-left: none;
      }

      .exp-sup > div p.desc {
        padding: 2px 15px;
        color: #000;
        font-size: 18px;
        font-weight: bold;
      }

      .exp-sup > div p {
        padding: 2px 5px 0 80px;
        font-size: 12px;
        font-weight: bold;
        color: #666;
      }


    }

